.input {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-background);
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  
  &:focus {
    outline: none;
    border-color: var(--vscode-inputValidation-infoBorder);
  }
}

.label {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px 0 0;
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 2px;
}

.button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: 1px solid var(--vscode-button-border);
  width: 100%;
  cursor: pointer;
  
  &:hover {
    border-color: var(--vscode-button-hoverBackground);
  }
}

.checkbox {
  height: 18px;
  width: 18px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-right: 9px;
  margin-left: 0;
  padding: 0;
}